dexcom-pull-us.json
[{"id":"7da8be1a.beabc","type":"tab","label":"Dexcom pull (US)","disabled":false,"info":""},{"id":"7737b3c4.4c0c5c","type":"function","z":"7da8be1a.beabc","name":"Create login request","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountByName\" ;\n\nmsg.headers = { 'User-Agent': 'application/json',\n                'Content-Type': 'application/json', \n                'Accept': 'application/json' };\n\nmsg.payload = {\n    \"password\": msg.password,\n    \"applicationId\" : \"d89443d2-327c-4a6f-89e5-496bbb0317db\",\n    \"accountName\": msg.accountName\n}; \n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["78decb8e.8b6d44"]]},{"id":"78decb8e.8b6d44","type":"http request","z":"7da8be1a.beabc","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":180,"wires":[["46a68365.f9cd0c"]]},{"id":"8cd80b06.d61138","type":"inject","z":"7da8be1a.beabc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[["44f8d2fe.01b8dc"]]},{"id":"46a68365.f9cd0c","type":"change","z":"7da8be1a.beabc","name":"","rules":[{"t":"set","p":"session_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["c84707bb.a412f8"]]},{"id":"5357a332.ff454c","type":"debug","z":"7da8be1a.beabc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":300,"wires":[]},{"id":"c84707bb.a412f8","type":"function","z":"7da8be1a.beabc","name":"Fetch glucose","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?sessionId=\" + msg.session_id + \"&minutes=1440&maxCount=20\";\n\nmsg.headers = { 'Content-Type': 'application/json', \n                'Content-Length': 0,\n                'Accept': 'application/json' };\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":340,"wires":[["adb0a66d.92ee08"]]},{"id":"adb0a66d.92ee08","type":"http request","z":"7da8be1a.beabc","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":420,"wires":[["4403f330.92ad3c"]]},{"id":"7e586437.e195fc","type":"function","z":"7da8be1a.beabc","name":"upsert into mysql","func":"const SQL = global.get('sqlModule'); \n\nvar incoming = msg.payload; \nvar query = SQL`\n  REPLACE\n  INTO glucose\n  (date, value, direction)\n  VALUES  (${incoming[\"formattedDate\"]}, ${incoming[\"sgv\"]}, ${incoming[\"direction\"]})`; \nreturn {\"payload\": query.values, \"topic\": query.sql};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":360,"wires":[["146d542a.187dcc"]]},{"id":"4403f330.92ad3c","type":"function","z":"7da8be1a.beabc","name":"Clean glucose data","func":"var DIRECTIONS = {\n  NONE: 0\n, DoubleUp: 1\n, SingleUp: 2\n, FortyFiveUp: 3\n, Flat: 4\n, FortyFiveDown: 5\n, SingleDown: 6\n, DoubleDown: 7\n, 'NOT COMPUTABLE': 8\n, 'RATE OUT OF RANGE': 9\n};\n\nvar Trends = (function ( ) {\n  var keys = Object.keys(DIRECTIONS);\n  var trends = keys.sort(function (a, b) {\n    return DIRECTIONS[a] - DIRECTIONS[b];\n  });\n  return trends;\n})( );\n\nfunction trendToDirection (trend) {\n  return Trends[trend] || Trends[0];\n}\n\nvar incoming = msg.payload; \n\nfor (let i = 0; i < incoming.length; i++) {\n    var d = incoming[i];\n    var regex = /\\((.*)\\)/;\n    var wall = parseInt(d.WT.match(regex)[1]);\n    var date = new Date(wall);\n    var entry = {\n        sgv: d.Value\n        , date: wall\n        , dateString: date.toISOString()\n        , formattedDate: date.getFullYear() + \"-\" + (date.getMonth() + 1) + \"-\" + date.getDate() + \" \" + date.getHours() + \":\" + date.getMinutes() + \":\" + date.getSeconds() \n        , trend: d.Trend\n        , direction: trendToDirection(d.Trend)\n    };\n    newmsg = {};\n    newmsg.payload = entry; \n    node.send(newmsg);\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":500,"wires":[["7e586437.e195fc"]]},{"id":"44f8d2fe.01b8dc","type":"credentials","z":"7da8be1a.beabc","name":"","props":[{"value":"accountName","type":"msg"},{"value":"password","type":"msg"}],"x":290,"y":180,"wires":[["7737b3c4.4c0c5c"]]},{"id":"146d542a.187dcc","type":"mysql","z":"7da8be1a.beabc","mydb":"f7f4fcc3.2ac4f","name":"","x":1320,"y":280,"wires":[["5357a332.ff454c"]]},{"id":"f7f4fcc3.2ac4f","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"diabetes","tz":"","charset":"UTF8"}]
